# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2570d74321e57c9d4e6fbb5700701d1ccd2f6a08b3f7c0ac8a5a6fb4c564a9037bfa9fc2d3323d8d85492bbe0db781520760dedf449a0c777b0d8e40b73ec613
  aliyun_oss:
    access_key: xxx
    secret_key: xxx
    host: xxx
    bucket: bucket


test:
  secret_key_base: 63d01fb2dd39090d5fc72a8ad93c6191a228fbce8b8094ff543c1ef07ba490dc9d2c34e225edee34c40dc734d64ea4f60646331c1e2f3eab37a506fd915d12d8
  aliyun_oss:
    access_key: xxx
    secret_key: xxx
    host: xxx
    bucket: bucket

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  aliyun_oss:
    access_key: xxx
    secret_key: xxx
    host: xxx
    bucket: bucket
